p.caption {
  color: dimgray;
  margin-top: 0px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.eqn-mouseover {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              padding-right: 50%;
}



.panel-active section {
		padding-top: 0;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

li .dropbtn {
    color: dimgray;
}

ul.navbar {
		background-color: lightgray;
		color: coral;
}

#active-page {
		background-color: white;
		color: coral;
}

li.toc {
		background-color: white;
		padding-left: 10px;
}

h1 {
	color: dimgray;
	border-bottom-color: dimgray;
}

h2 {
	color: coral;
	border-bottom-color: coral;
}

h3 {
	color: coral;
	border-bottom-color: coral;
}

.title {
	color: coral;
	line-height: 1.2;
}

.subtitle {
	color: dimgray;
	line-height: 1.1;
}

.author {
	color: dimgray;
<<<<<<< HEAD
}
=======
}

.book .book-summary {
  background: white;
  border-right: none;
}

.summary a:hover {
  color: coral !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: slategray !important;
  border-left: solid 4px;
  border-color: coral;
  padding-left: 11px !important;
}  

>>>>>>> 086d413ce30e4ab175ad075e53e16bdd8e122dd7
